html, body {
    height: 100%;
    margin:0;
    padding:0;
}

body {
	background-color: #f1f2f6;
    background-image: url("images/bg.png");
}

div img {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}